@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  height: 100vh;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  padding: 4px;
  width: 100%;
  max-width: 300px;
}

.secnd__color {
  color: #16ccd9;
}

.btn__hover-effect:hover {
  background-color: #242424;
  border-color: #242424;
  transform: translate(2px, -2px);
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  background-color: #242424;
  transition: all 300ms ease;
}

.link__hover-effect:after {
  background-color: #fff;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.modal--open nav,
.modal--open header,
.modal--open #results,
.modal--open .library__container {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms 200ms;
}

.dark-theme section {
  background-color: #242424;
}

.dark-theme .header__text,
.dark-theme .library__search--title,
.dark-theme .anime__poster,
.dark-theme .card__info--text,
.dark-theme .anime__card {
  filter: invert(1);
}

.dark-theme .secnd__color,
.dark-theme .search__btn {
  filter: invert(1);
}

/* 

NAV

*/

#landing__page {
  overflow-x: hidden;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 3600px;
  background-color: #16ccd9;
}

.nav__title {
  font-size: 36px;
  margin: 24px;
  color: #fff;
  cursor: default;
}

.nav__links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 24px;
}

.nav__list--item {
  padding: 0 8px;
  font-size: 20px;
  cursor: pointer;
}

.nav__link {
  color: #fff;
}

.nav__btn {
  padding: 8px;
  border: solid 2px #fff;
  border-radius: 12px;
  transition: all 300ms ease;
}

.nav__btn--click {
  cursor: pointer;
  font-size: 20px;
  background: none;
  border: none;
  color: #fff;
}

.fa-adjust {
  filter: invert(1);
  width: 100%;
  height: 100%;
  max-width: 24px;
  max-height: 24px;
}

.btn__menu {
  background-color: transparent;
  width: 100%;
  height: 100%;
  max-width: 48px;
  max-height: 48px;
  filter: invert(1);
  border: none;
  display: none;
  padding-right: 12px;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link,
.menu__btn--click {
  font-size: 40px;
  color: white;
  border: none;
  background: none;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}

/* 

HEADER

*/

.header__container {
  width: 100%;
  padding: 32px;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 84px;
  margin-bottom: 24px;
  color: #242424;
  text-align: center;
  cursor: default;
}

h2 {
  font-size: 36px;
  margin-bottom: 24px;
  width: 100%;
  max-width: 750px;
  text-align: center;
  color: #242424;
  cursor: default;
}

.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search__btn {
  font-size: 32px;
  width: 100%;
  max-width: 480px;
  text-align: center;
  margin-left: 8px;
  padding: 12px;
  border: none;
  border-radius: 12px;
  color: #fff;
  background-color: #16ccd9;
  transition: all 300ms ease;
  cursor: pointer;
}

.header__img--container {
  margin: 48px 0;
}

.header__img--wrapper {
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 16px 16px 24px 24px rgb(0, 0, 0, 0.3);
}

.header__img {
  width: 100%;
}

/* 

MODAL

*/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open .modal {
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
  visibility: visible;
}

.modal__half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease;
}

.modal--open .modal__about,
.modal--open .modal__contact {
  transform: translateX(0%);
}

.modal__about {
  background-color: rgb(245, 245, 245);
  transform: translateX(-110%);
}

.modal__contact {
  background-color: #242424;
  color: white;
  transform: translateX(110%);
}

.modal__title {
  font-size: 26px;
}

.modal__sub-title {
  margin: 12px 0 24px 0;
  font-size: 14px;
  color: #b30303;
}

.modal__img {
  width: 100%;
  border-radius: 4%;
}

.form__item {
  margin-bottom: 20px;
  display: flex;
}

.form__submit {
  background-color: #b30303;
  border: 2px solid #b30303;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  width: 100%;
  max-width: 240px;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
  cursor: not-allowed;
}

.form__submit:hover {
  border-color: #fff;
  background-color: transparent;
}

.form__submit:active {
  border-color: #b30303;
  color: #b30303;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.modal__overlay--loading {
  background-color: #242424;
  font-size: 80px;
}

.modal__overlay--success {
  background-color: #4bb543;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 28px;
}

.modal__overlay--visible {
  z-index: 1;
  display: flex;
}

.fa-spinner {
  animation: spinner 750ms infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: #fff;
  font-size: 36px;
  z-index: 100;
}

/* 

FOOTER

*/

.footer__container {
  background-color: #16ccd9;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 32px 0;
}

.footer__title {
  color: #fff;
  font-size: 32px;
  cursor: default;
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__list--item {
  padding: 24px 16px;
}

.footer__link {
  color: #fff;
  cursor: pointer;
}

.footer__copyright {
  color: #fff;
  cursor: default;
}

/* 

LIBRARY

*/

.library__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
}

.library__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 28px;
}

.library__search {
  width: 100%;
  max-width: 1280px;
}

.library__search--input {
  font-size: 16px;
  width: 100%;
  max-width: 240px;
  padding: 12px;
  margin-right: 4px;
  border-radius: 12px;
  border: solid 3px #242424;
  transition: all 300ms ease;
}

.library__search--btn {
  font-size: 16px;
  margin-left: 4px;
  padding: 12px;
  border: none;
  border-radius: 12px;
  color: #fff;
  background-color: #16ccd9;
  transition: all 300ms ease;
  cursor: pointer;
}

#results {
  margin: 0 auto;
}

.anime__cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.anime__card {
  margin: 36px;
  padding: 12px 4px;
  border: 2px solid #242424;
  border-radius: 24px;
  width: 25%;
  height: 480px;
  overflow: scroll;
}

.anime__card--container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anime__poster--wrapper {
  border-radius: 24px;
  border: 1px solid #242424;
  overflow: hidden;
  display: flex;
  width: 100%;
  max-width: 200px;
  margin-bottom: 16px;
}

.anime__poster {
  width: 200px;
}

#filter {
  width: 100%;
  max-width: 120px;
}

.results__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  font-size: 60px;
  color: #242424;
}

.results__loading--spinner {
  width: 100%;
  height: 100%;
  max-width: 180px;
  margin-top: 80px;
  margin-bottom: 80px
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.results__loading .results__loading--spinner {
  display: block !important;
}

.fa-spinner {
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Small PHONES, TABLETS, LARGE SMART PHONES */

@media (max-width: 768px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 28px;
  }
  .search__input {
    font-size: 24px;
  }
  .search__btn {
    font-size: 24px;
  }
  .anime__card {
    width: 50%;
  }
  .library__search--input,
  .library__search--btn {
    font-size: 12px;
    margin: 4px 0;
  }
  #filter {
    width: 100%;
    max-width: 80px;
  }
  .modal {
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    width: 100%;
    flex-direction: column;
    border-radius: 0;
  }
  .modal__half {
    width: 100%;
  }
}

/* Card Info */

.card__img {
  width: 100%;
}

.card__container--border {
  border: 4px solid #242424;
  box-shadow: 16px 16px 24px 24px rgb(0, 0, 0, 0.3);
  border-radius: 20px;
}

.card__img--wrapper {
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 360px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 16px 16px 24px 24px rgb(0, 0, 0, 0.25);
}

.card__info--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 16px 16px 24px 24px rgb(0, 0, 0, 0.2);
}

.card__back--btn {
  margin-bottom: 20px;
  box-shadow: 16px 16px 24px 24px rgb(0, 0, 0, 0.1);
  background-color: #242424;
}

.card__info--ability{
  width: 100%;
  max-width: 400px;
}

h3 {
  margin: 4px 0;

}

/*

SMALL PHONES, LARGE SMARTPHONES 

*/

@media (max-width: 550px) {
  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }
}

/* SMALL PHONES */

@media (max-width: 480px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 24px;
  }
  .header__search {
    flex-direction: column;
  }
  .search__input {
    font-size: 16px;
    margin: 0 0 8px 0;
  }
  .search__btn {
    font-size: 16px;
    margin: 8px 0 0 0;
    width: 100%;
  }
  .anime__card {
    width: 100%;
  }
}
